[2019-01-31 13:47] jh-RLI opened #1 "Integrate data source Tabeles as model(using SLQA or Django ORM)"
1. identify the required data and the source (db/tabel) it is stored in (or at least should be stored in)
2. Decide witch ORM integration to be used (SQLA or Django)
       - SQLAlchem for OEDB data
     - [x] check if the required packages like django-geojson also work with SQLAlchemy instead of Djangos ORM (not working)
3. Create the models for each source in django (autogenerate/manually)
4. De

[2019-01-31 14:38] jh-RLI opened #2 "Integrate style templates"
- See template progress: https://github.com/rl-institut/WAM/issues/11

[2019-04-18 12:45] jh-RLI commented on #1
integrated the currnetly existing open_FRED table classes.
Classes are created dynamicly with the suggested 'mapped_classes' function. see [this](https://github.com/open-fred/cli/blob/master/openFRED.py)

[2019-04-18 12:50] jh-RLI commented on #1
Developments related to this issu to be found in the branch:  **featrue/oep_serialize**

[2019-04-18 13:22] jh-RLI commented on #2
Integrated a first version Layout for the SinglePageApplikation.
Development progress can be found in branch: **feature/WebGUI**

[2019-04-25 16:43] jh-RLI opened #3 "Add custom geojson serializer"
- Integrate data from non django database
- provide data as geojson using https://pypi.org/project/geojson/

[2019-04-29 12:47] jh-RLI commented on #3
Use This aproach to query a lot of data:
https://github.com/sqlalchemy/sqlalchemy/wiki/WindowedRangeQuery

[2019-04-29 14:43] jh-RLI opened #4 "Add requirements.yml to share conda env"
- Collect all used packages
- Create requironments.yml

[2019-04-29 14:57] jh-RLI commented on #4
- [ ] testing required

[2019-05-02 11:41] christian-rli opened #5 "Create draft of the tool and delineate functionality"
Make a drawing or create an image of the planned tool and briefly describe its functions.

[2019-05-02 11:42] christian-rli commented on #5
First draft on a whiteboard:
![Draft_WAM_APP_FRED](https://user-images.githubusercontent.com/42000429/57073045-20c89080-6ce0-11e9-9628-12ef6b389c12.jpg)

[2019-05-02 11:44] christian-rli commented on #5
Mockup Created by @jh-RLI :
![Mockup_WAM_FRED_SinglePage_v2](https://user-images.githubusercontent.com/42000429/57073100-54a3b600-6ce0-11e9-831f-0598481413dc.png)

[2019-05-02 11:45] christian-rli commented on #5
TODO: Write a description on how this app is meant to work.

[2019-05-02 23:03] jh-RLI commented on #3
- serializer now working for Locations table and returns a GeoJson
- the GeoJson is provided at an URL by Django. It can be assigned to an JS variable and used in further dev.

[2019-05-06 14:50] christian-rli commented on #2
I'm going to work on feature/WebGUI (or rather a new branch thereof) to beautify the current state. One thing I noticed: Creating a fresh clone of WAM and WAM_APP_FRED, the app won't start.

error:

TemplateSyntaxError at /WAM_APP_FRED/
'leaflet_tags' is not a registered tag library. Must be one of: ...

solution:

add 'leaflet' under INSTALLED_APPS in wam/settings.py

[2019-05-06 17:38] jh-RLI commented on #2
great, knew about that but there is no good documentation for setup steps like this.
Should be mentioned in an app specific "app_setup.txt" or something like that.

[2019-05-08 08:54] jh-RLI opened #6 "Include a GeoJSON in Template(JavaScript) with AJAX"
Context:
 - A serializer creats a [GEOJSON](https://geojson.org/) from a table (backend)
 - Django provides the GEOJSON as HTTP-Response at a specific URL
 - Since we want to use [Leaflet](https://leafletjs.com/examples/geojson/) now we need to import the URL in JavaScript  (frontend)
 - a proven concept to load data with JS is [AJAX](https://de.wikipedia.org/wiki/Ajax_(Programmierung))

[2019-05-13 13:03] jh-RLI opened #7 "Enhance custom serializer"
First collection of ideas on how to develope a  WAM-App-Function that returns geodata and attributes from a datasource(like postgreSQL) that holds a lot of data records.
Since we use a custom serializer the functionality could be included by enhancing the serializer.

Main-topics are:
- Map performance on a client browser
- WebPage loading/response time on first entry
- response time after user in

[2019-05-13 13:03] jh-RLI commented on #7
How others did this:
[Uber](https://eng.uber.com/maps-metrics-computation/)
[MS-Azure](https://azure.microsoft.com/de-de/resources/videos/azure-friday-visualizing-data-with-azure-maps-web-map-control/)

[2019-05-13 15:42] jh-RLI commented on #7
The Python [multiprocessing](https://docs.python.org/3.5/library/multiprocessing.html?highlight=process) could help to query the database more efficient. @Bachibouzouk since you want to learn about this in the future maybe you can share your experiences here.

[2019-05-14 08:10] nesnoj commented on #7
@4lm and I have put some time into maps+serialization in our app, if you're interested we could talk about it..

By the way: where's your serializer located?

[2019-05-14 09:12] jh-RLI commented on #3
Serializer is developed here: https://github.com/rl-institut/WAM_APP_FRED/blob/feature/oep_serialize/serial_views.py

[2019-05-14 09:14] 4lm commented on #7
Yes, try the simple stuff first:

- as @nesnoj mentioned Python [multiprocessing](https://docs.python.org/3.7/library/multiprocessing.html?highlight=process) is a super simple way to offload work from the process Django is running in. I tried it this weekend for a private project of mine and it took me literally 3 minutes to implement.
- "WebPage loading/response time on first entry", in our case

[2019-05-14 09:15] jh-RLI commented on #7
@nesnoj would be great, I already planned to look into your implementation. The Code is located [here.](https://github.com/rl-institut/WAM_APP_FRED/blob/feature/oep_serialize/serial_views.py). Also see #3.

[2019-05-21 23:06] Bachibouzouk opened #8 "Requirement.txt is not up-to-date"
Missing packages
- sqlahelper

- geoalchemy2

- shapely

- geojson

[2019-05-22 13:28] jh-RLI commented on #6
This has been sucsessfully integrated and tested. Since this is a quit basic requirement there is no more information needed.
This is a basic example how it is done:
1. SetUp a SQLAlchemy Session

The view:
`def serializer():
     Session = sah.get_session()
     session = Session()

     features = []

     for record in session.query(oep_modles.classes['Location']).limit(100):
         geometry

[2019-05-22 13:38] jh-RLI commented on #8
Thats true, most of the work that is up to date can be found in branch: feature/oep_serialize. There is a more complete wam_environment.yml file with all the packages needed. Maybe you can give me feedback if this file will work/is complete. There might be redundant packages that are already included in the base wam environment.

Maybe its time to merge at least some changes in dev :)

[2019-05-22 14:01] jh-RLI commented on #1
This is basically done. The models are dynamically created in [oep_models.py](https://github.com/rl-institut/WAM_APP_FRED/blob/feature/oep_serialize/oep_models.py).
This actually is a little slow, i assume that it first imports all the tables that are in modle_draft and then pick the needed tables to create the dynamic models. That takes about 1-2 min for me and slows down the server start.

[2019-05-22 14:30] jh-RLI opened #10 "Get current position of any mouse click on the map as lat/long and provide data restfull for the server"
A user can click at any position on the map and the app returns the closest weather point and its property as feature on the map.

[2019-05-22 22:01] Bachibouzouk opened #15 "Continuous integration is not visibly in place"
- [x] Add a .travis.yml file

- [x] Write linting tests

- [x] Set continuous integration on github

[2019-05-22 22:02] Bachibouzouk opened #16 "There is no LICENSE.md file"

[2019-05-22 22:02] Bachibouzouk opened #17 "There is no CHANGELOG.md file"

[2019-05-22 22:18] Bachibouzouk commented on #10
I would split this in 2 issues which would be solved by two different PRs :

1.  A user can click at any position on the map and a function returns the coordinates of the closest weather/powerplant point

2.  A function fetches the properties of a weather point/power plant/timeseries based on the coordinates on that point

[2019-05-24 08:21] #8 closed

[2019-05-27 11:12] jh-RLI opened #20 "View fetches data about weather point depending on provided mouse-click(lat/lng)"
- backend functionality
- view should be created as class method within the Serializer class
- view returns data about the closest weather point to any provided mouseclick position
- position should be provided as lat/lng value
- fetched information should be provided at an URL

See #10 for further information on how the mouse-click position is provided

[2019-05-27 11:19] jh-RLI commented on #10
- Frontend functionality
- data should be provided RESTFULL
- mouse-click position data needs to be in a usable format like lat/lng

[2019-05-27 11:24] jh-RLI commented on #10
Good [example](https://gis.stackexchange.com/questions/210041/using-leaflet-js-is-it-possible-to-know-the-onclick-location-of-a-marker-ignor/210102) on how to get the mouse-click position using a Leaflet event handler that converts the (DOM)click event position to a lat/lng value

[2019-05-27 12:52] jh-RLI commented on #20
Good [example](https://stackoverflow.com/questions/24152420/pass-dynamic-javascript-variable-to-django-python) on how to transfer data from client to server using a RESTfull approach with HTTP POST.

[2019-05-27 13:56] jh-RLI opened #21 "Explain how to set up the WAM_APP_FRED within the README.md"
- First draft of an installation guide to set up a developer version for the WAM_APP_FRED

[2019-05-27 14:10] jh-RLI commented on #21
#11

[2019-05-27 16:44] #17 closed

[2019-05-27 20:21] Bachibouzouk commented on #4
@jh-RLI -  this issue is outdated now, I close it

[2019-05-27 20:21] #4 closed

[2019-05-29 13:41] #21 closed

[2019-06-05 13:46] Bachibouzouk opened #23 "Add controls for the weather data panel in template"

[2019-06-05 13:46] Bachibouzouk opened #24 "Add controls for the power plant registery panel in template"

[2019-06-05 13:47] Bachibouzouk opened #25 "Add controls for the feedinlib in template"

[2019-06-05 13:51] Bachibouzouk opened #26 "Build a model for weather data points"

[2019-06-05 13:52] Bachibouzouk opened #27 "Build a model for weather station"
With appropriate fields from the tables in https://openenergy-platform.org/dataedit/view/supply

[2019-06-05 13:59] Bachibouzouk opened #28 "Build a model for feedinlib"

[2019-06-05 14:03] Bachibouzouk opened #29 "Figure out how to build a query for the open fred data"

[2019-06-05 14:05] Bachibouzouk opened #30 "Figure out how to display graphs"

[2019-06-05 14:05] Bachibouzouk commented on #30
I would go with plotly.js as it is opensource

[2019-06-05 14:06] Bachibouzouk opened #31 "Figure out how to assign popups to points with the correct information"
Would be cool to prepare this in the views.py and only use a function in the .js side

[2019-06-05 14:07] Bachibouzouk opened #32 "Lint javascript"

[2019-06-05 14:07] Bachibouzouk opened #33 "The javascript should not be located directly in the template file"

[2019-06-06 11:44] jh-RLI opened #34 "Missing information in README"
Extend the readme.md file with further information about the WAM_APP_FRED.

- What is the purpose of this app
- How does this app work/ how is it used
- What are its functionalitys
- Explain the source data/ where can it be found
- How can the data be accessed

[2019-06-06 12:01] jh-RLI commented on #34
Add further information about the functionality and usage.

[2019-06-12 07:57] christian-rli commented on #5
To sum up our priorities for the time being (from meeting in May):
- show weather data (simple, with preselected variables: windspeed at 10m and 140m, Variable selection is a nice-to-have). idea: click on map and receive weather data of closest point(s)
- show power plants (not everything is visible at top level, after selection of area, power plants become visible, ability to click and download a

[2019-06-12 09:21] christian-rli commented on #16
We publish our tools under AGPL whenever possible. I added an AGPL license file. Can this issue be closed?

[2019-06-12 12:07] jh-RLI commented on #20
@Bachibouzouk this is already done in feature/weathe_data. You also did this in your scripts i believe? Are we still need this issue since you also already did futher dev. in local_tests?

[2019-06-12 12:14] jh-RLI commented on #1
@Bachibouzouk integrated [this](https://github.com/rl-institut/WAM_APP_FRED/commit/e3e0a5e6aa3630aa679a23ee058a7100f8d037a2), in order to use a local set of test data which can be created via commands.

[2019-06-12 12:22] jh-RLI commented on #7
This might not be nessary anymore since the goal is to fetch data from an API provided by the OpenEnergy-Platform. The API is called [OE-Dialect](https://github.com/OpenEnergyPlatform/oedialect).

[2019-06-12 12:23] jh-RLI commented on #20
based on #10 the lat/lng is provieded for this view

[2019-06-12 12:28] jh-RLI commented on #20
#29 query to fetch data

[2019-06-12 14:18] jh-RLI commented on #6
I woll close this since it is implemented.

[2019-06-12 14:18] #6 closed

[2019-06-12 14:41] jh-RLI commented on #5
**3-Schichten-Modell WAM_APP_FRED**
![3-Schichten-Modell WAM_APP_FRED](https://user-images.githubusercontent.com/38939526/59361035-8709ef80-8d31-11e9-96a3-bc5d8bf22b70.jpg)
 @Bachibouzouk @christian-rli this could be helpful for us if we talk about what we work on. Feel free to give me feedback on this.

[2019-06-13 10:32] christian-rli commented on #29
There is no _real_ documentation for the oedialect (yet), but there are a few tutorials, mainly written by @Ludee [here](https://github.com/OpenEnergyPlatform/examples/tree/master/api). At the end of [api_tutorial_part_2](https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part2.ipynb) there are some options that we can use to write a function to filter the closest data

[2019-06-13 11:58] christian-rli commented on #29
Maybe [this](https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP-oedialect_upload_from_csv.ipynb) helps as well. To quote from the Tutorial:

I have a fuzzy understanding of what exactly oedialect will accept and therefore how freely we can query overall, but this sounds to me like an [sql-alchemy-engine](https://docs.sqlalchemy.org/en/13/core/engines.html) will try to query anythin

[2019-06-13 12:44] Bachibouzouk commented on #16
@christian-rli - yes we can :). In the future it is better to close Issue with PR and not to push directly to dev ^^

[2019-06-13 12:44] #16 closed

[2019-06-13 13:10] #34 closed

[2019-06-13 13:12] christian-rli commented on #16
Noted. Thx :)

[2019-06-13 13:17] jh-RLI commented on #1
I will close this since it is done and we want to USE a RestFUL-API.

[2019-06-13 13:17] #1 closed

[2019-06-13 13:18] #7 closed

[2019-06-13 14:15] jh-RLI commented on #29
Okay, to sum this up we use SQLAlchemy to Query the DB. There are just different ways how to create the engine?

1. SQLAlchemy
[code]

2. SQLAlchemy + Dialect:
[code]

Then we can simply

[code]

[2019-06-13 16:21] Bachibouzouk commented on #29
@Ludee explained me about the history of the configuration file handlers to access databasis, we can find inspiration in the [mastR](https://github.com/OpenEnergyPlatform/data-preprocessing/blob/master/data-import/bnetza_mastr/sessions.py) project. This comes a package to manage the psycopg2 requests: oemof.io (pg access). It was also used in ego.io (pg+oedb access) and reeem.io (pg+reeem_db acces

[2019-06-16 22:39] Bachibouzouk commented on #20
@jh-RLI - I merged `local_tests` in `feature/weather_data`, I will mention this issue in the `feature/weather_data` PR, and we'll close it when the PR will be merged :)

[2019-06-17 08:34] #10 closed

[2019-06-17 08:34] #20 closed

[2019-06-17 08:41] Bachibouzouk opened #36 "There is no layers of Germany's landkreis on the map"

[2019-06-17 10:03] jh-RLI commented on #36
There is the [vg250](http://www.geodatenzentrum.de/geodaten/gdz_rahmen.gdz_div?gdz_spr=deu&gdz_akt_zeile=5&gdz_anz_zeile=1&gdz_unt_zeile=15&gdz_user_id=0) data available at OEP.

[2019-06-17 15:01] christian-rli opened #38 "Missing icons of involved institutions"
They should be shown in the bottom panel and link to the institutions' websites.

[2019-06-18 14:19] christian-rli commented on #38
Icons for tabs need to be added as well.

[2019-06-20 10:29] Bachibouzouk commented on #31
@christian-rli - are you working on this today?

[2019-06-20 11:52] Bachibouzouk commented on #31
This example defines a function to fetch data asynchronuously :

http://bl.ocks.org/hpfast/5017e08b6c27b5abd287c2cf21c0c533

[2019-06-20 13:38] christian-rli commented on #31
I meant to work on this today, but my setup doesn't seem to allow loading the geojson (from outside of the office). I changed some of my settings and at least got the app to start (which at first it also wouldn't do). Thanks for the link. I'm going to work on this in an independent map-sample and try to implement it on Monday. (I got one of those "does the server allow connections via port 5432" e

[2019-06-20 15:58] Bachibouzouk commented on #31
I did link a popup with information fetched from the oebd in #39 , the content of the popup is still to be defined though :) (you apparently can't connect to oedb user from outside RLI even with vpn access, according to @Ludee )

[2019-06-26 13:05] christian-rli opened #40 "Missing link to WAM core"
We should add a link to WAM core as suggested by @nesnoj in this issue:
https://github.com/rl-institut/WAM/issues/59#event-2440583279

[2019-06-26 14:16] jh-RLI opened #42 "Missing table definition in oep_models"
Add the supply.ego_dp_res_powerplant table from OEDB as SQLAlchemy table definition to oep_models.

[2019-06-26 14:17] jh-RLI commented on #42
#41

[2019-06-26 15:37] #42 closed

[2019-06-26 15:54] jh-RLI opened #44 "Add power plant register data to leaflet map"

[2019-06-26 15:56] jh-RLI commented on #44
#43

[2019-06-27 23:51] Bachibouzouk commented on #36
This was closed by #37

[2019-06-27 23:51] #36 closed

[2019-06-27 23:54] Bachibouzouk commented on #29
Done in be70112301110d12e14b6f8248718943eda8b858

[2019-06-27 23:54] Bachibouzouk commented on #30
Done in be70112301110d12e14b6f8248718943eda8b858

[2019-06-27 23:55] Bachibouzouk commented on #31
Done in be70112301110d12e14b6f8248718943eda8b858

[2019-06-27 23:56] Bachibouzouk commented on #27
Not relevant anymore

[2019-06-27 23:56] #27 closed

[2019-06-27 23:56] Bachibouzouk commented on #26
Not relevant anymore

[2019-06-27 23:56] #26 closed

[2019-06-27 23:56] Bachibouzouk commented on #28
Not relevant anymore

[2019-06-27 23:56] #28 closed

[2019-06-27 23:57] Bachibouzouk commented on #3
@jh-RLI I think this issue can be closed now, no?

[2019-06-27 23:58] Bachibouzouk commented on #3
Closed by #9

[2019-06-27 23:58] #3 closed

[2019-07-02 10:17] jh-RLI opened #48 "Add LeafletCluster to leafletmap"
We want to visualize many datapoints on a map, therefore we need to cluster this data in order to keep the WEB-APP performance.

I recomend to try this [plugin](https://github.com/Leaflet/Leaflet.markercluster) first since there is know-how in the team @christian-rli.

This needs to be integrated in the "power plant register map"- we have many datapoints there. The data is already included on the

[2019-07-02 12:17] 4lm commented on #48
Nice plugin! Correct URL for link is: https://github.com/Leaflet/Leaflet.markercluster

[2019-07-02 13:46] #29 closed

[2019-07-02 13:46] #30 closed

[2019-07-02 13:46] #31 closed

[2019-07-04 07:07] nesnoj opened #49 "FRED app rewrites leaflet config"
Hey folks,

@christian-rli has put the FRED app on the WAMdev yesterday.
Unfortunately, [your map coordinates](https://github.com/rl-institut/WAM_APP_FRED/blob/d06ddaf18196f8cfdabe46e97f33973814e4ec87/settings.py#L30) (where the map is positioned on startup) defined in param `DEFAULT_CENTER` of `LEAFLET_CONFIG` override [mine](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/765e0b91c725f908e

[2019-07-04 07:44] christian-rli opened #50 "Adding leaflet breaks WAM if it's already added in another app"
Check to see if leaflet is already added.

[2019-07-04 08:21] jh-RLI commented on #49
oh great I always wondered why my zoom level and initial coords are not changing, now I know its because I have the ego_vis and fred wam installed.

[2019-07-04 08:25] christian-rli commented on #49
I have put FredWAM on the production server as well, btw... and indeed the same problems seem to occur. I'm going to take it off a gain until there is a fix for this.

[2019-07-04 08:34] jh-RLI commented on #48
@christian-rli I think this could be essential to implement before next Tuesday. The amount of datapoints will have a heavy impact on the performance (one cant interact with the map anymore).
ATM there would be just one other solution which is to limit the query, this should be avoided in my opinion.

PS: Thanks for the correct link @4lm

[2019-07-04 09:09] nesnoj commented on #49
Yes, please!!

[2019-07-04 09:11] nesnoj commented on #49
Urgently

[2019-07-04 09:42] christian-rli commented on #49
Sorry, forgot to rerun the docker after changing the YAML-file. It's back to normal now.

[2019-07-04 22:49] nesnoj commented on #49
Ok, implemented a solution for this specific *django-leaflet*-related issue in https://github.com/rl-institut/WAM_APP_stemp_abw/pull/66 using a simple settings override.

You might wanna do the same..

[2019-07-08 09:27] christian-rli commented on #38
Fixed in #51

[2019-07-08 09:27] #38 closed

[2019-07-08 13:22] #49 closed

[2019-07-09 11:20] christian-rli opened #56 "Missing imprint and privacy sites"
Copy and link sites from stemp_abw.

[2019-07-09 11:59] jh-RLI opened #57 "Charts for timeseries data"
- Create charts using [this](https://github.com/kyper-data/python-highcharts)  Python translation layer for [Highcharts](https://www.highcharts.com/docs/getting-started/your-first-chart) javascript bib.

- use model_draft.openfred_timeseries_ch as datasource

- [ ] chreate openfred_ts_higchart and options
- [ ] create view returning Highchart based on userinput (time, technology)
- [ ] embed chart

[2019-07-09 17:47] jh-RLI opened #59 "urgent tasks"
What should be done (pls add missing):
- [x] Include input from html from in weather data click query ( done in 14cf1e8dc24f130e30f068b5b6d4863eccbf1db5)
- [x] Implement highcart functionality for TimeSeries
- [x] Split the functionality of WeatherData and PowerPlant so they deactivate/activate depending on the selectet sidemenue-tab(Weather Data, Power Plant Register, Feedin-Time Series)
- [x] Fi

[2019-07-09 18:21] christian-rli commented on #57
When I try to run this branch I get the following error:
[code]
and django fails. Is it my setup or is this supposed to not work yet?

[2019-07-09 19:23] jh-RLI commented on #57
I will have a look at this - should work in my opinion.

[2019-07-09 19:30] jh-RLI opened #60 "CSV export feature"
Provide export functionality for currently displayed data.

[2019-07-09 19:57] Bachibouzouk commented on #57
I can use a plotly graph :)

[2019-07-09 19:57] Bachibouzouk commented on #59
I can take care of the second one

[2019-07-09 20:27] jh-RLI commented on #57
okay that might be more easy for you :) @Bachibouzouk

@christian-rli there is no primary key column defined in the openfred_timeseries_ch  table

[2019-07-09 20:48] christian-rli commented on #57
Is that necessary for importing it? I'll try to set it.

[2019-07-09 20:58] jh-RLI commented on #57
seems like sqlalchemy orm is requiring it. A normalized db table should always have a primary key column.

[2019-07-09 21:00] christian-rli commented on #57
column 'index' is now the primary key.

[2019-07-09 21:02] jh-RLI commented on #57
this fixed the error :)

[2019-07-09 21:40] Bachibouzouk opened #61 "App with powerplant register does not work on wam-dev server"
The content of #43 does not work when pushed to the wam-dev server.

[2019-07-10 09:34] #48 closed

[2019-07-10 10:53] christian-rli opened #66 "No description on how to use the tool"
There should be short descriptions in every tab.

[2019-07-10 19:16] Bachibouzouk commented on #57
This issue is now closed by #55

[2019-07-10 19:16] #57 closed

[2019-07-10 19:17] Bachibouzouk commented on #50
Closed by #50 and #52

[2019-07-10 19:17] #50 closed

[2019-07-11 13:37] christian-rli opened #72 "Dysfunctional weather variables"
In the weather data tab the user can select several variables to show in the popup. We should test the working variables and create a list of the working ones. The dysfunctional ones can be disregarded in the menu, but we need a list to know which ones those are   .

[2019-07-11 13:43] christian-rli opened #73 "Questionable "Flag" tab in weather menu"
I am not sure what the "Flag" tab is supposed to be there for. It allows free text input from the user. What does it do and do we actually need it? Personally I don't miss any functionality in the weather menu, so I boldly suggest removing it.

[2019-07-11 13:49] christian-rli opened #74 "Missing Descriptions in Submenus"
The app can be unintuitive in several use cases. Displaying more info in submenus would alleviate the user in a range of I-am-stuck-now-situations.

[2019-07-11 13:56] christian-rli opened #75 "No loading info displayed"
When a user clicks on the map, generally something is loaded, but most of the time the user is not informed about this and tempted to click elsewhere before loading is done and left to think the app is broken. Create some sort of loading info when:

- [x] weather data points are loading
- [x] weather popup with chart is loading
- [x] power plants are loading
- [x] feedin-series are loading

[2019-07-11 13:59] christian-rli opened #76 ""Power Plant Register" Menu is partly German"
The Website is English. Only imprint and privacy info are in German due to legal reasons. Translate the "Power Plant Register" menu and check the rest of the website for any leftover German bits.

[2019-07-11 14:10] christian-rli commented on #44
This issue was addressed in #43

[2019-07-11 14:10] #44 closed

[2019-07-11 14:12] christian-rli commented on #23
This issue was addressed in #47

[2019-07-11 14:12] #23 closed

[2019-07-11 14:14] christian-rli commented on #24
Controls are in place and functional

[2019-07-11 14:14] #24 closed

[2019-07-11 14:34] christian-rli opened #77 "Backgroundmap doesn't show on all zoom levels"
When zooming out the map stops showing. Adapt the min zoom levels, so it can always show.

[2019-07-11 17:41] jh-RLI commented on #59
@Bachibouzouk @christian-rli is this done? do you whant to update?

[2019-07-11 19:08] jh-RLI opened #78 "Existing displayed data are not reset when switching side-menu tab"
If one switches tabs the existing datapoints displayed on map are not resetted. The leaflet map should be clearde when switching a tab. e.g. "Weather Data" -> click> switch to Power Plant Register
This even impacts the performance.

[2019-07-11 19:15] jh-RLI opened #79 "In Power Plant Register loading data from Sachsen also loads Sachen-Anhalt"
- In the [geojson](https://github.com/rl-institut/WAM_APP_FRED/tree/develop/static/WAM_APP_FRED/geodata) multipolygon for Sachen is containing Sachen and Sachen-Anhalt as one?
maybe just use another key?

[2019-07-11 19:21] jh-RLI opened #80 "Might add coords (lat, lng) to Time Series plot as other option for user input"

[2019-07-11 19:23] jh-RLI opened #81 "Using dev in tab "Time Series" the Plotlys "reset axes" not working as expected"

[2019-07-11 21:46] Bachibouzouk commented on #59
@jh-RLI, everything here is done --> closing the issue

[2019-07-11 21:46] #59 closed

[2019-07-15 08:53] #73 closed

[2019-07-15 09:06] christian-rli opened #85 "Missing description in Feedin-Timeseries Tab"
Add a small description what this tab is all about. Mention that there are currently only test-data.

[2019-07-15 09:09] christian-rli opened #86 "Html template mixes javascript and html"
Separate the two. Put the javascript in a separate file and just import it.

[2019-07-15 09:17] #78 closed

[2019-07-15 09:33] christian-rli opened #87 "Missing labels in weather popups"
Create a list or dict of variables and displayed units.

Show only working weather variables as options. (Create a list of working variables.)

[2019-07-15 12:44] jh-RLI commented on #79
Not sure if someone fixed this but I'm not able to recreate this behavior anymore. I will close this.

[2019-07-15 12:44] #79 closed

[2019-07-15 13:39] jh-RLI commented on #76
#88

[2019-07-15 13:40] #76 closed

[2019-07-15 13:53] christian-rli commented on #86
@jh-RLI , I see that you are currently working on the html file. Could you address this issue? Or if you're done working there, I can try to do it. We should address this before working even more on the javascript. @Bachibouzouk took care of some nice formatting. It would be possible to check for that automatically, once it's separate from the html. Also, it's just more tidy and clean in general.

[2019-07-15 14:19] Bachibouzouk opened #91 "Feedinlib-panel does not open the popup automatically"
Once the user clicked on the map, they need to click again on the popup to display the data.

[2019-07-15 14:43] jh-RLI commented on #86
Okay, I just changed the german text in Power Plant tab and added a description to time series. I was about to implement a [load spinner](https://github.com/makinacorpus/Leaflet.Spin/) but that would change the javascript. I will wait and continue in local testing mode :) @christian-rli

[2019-07-15 18:08] christian-rli commented on #86
Thank you @jh-RLI . We decided against separating html and javascript after all. This is a nice to have for later on. I ran into several problems when trying to do this.

1. {%%}-Syntax won't work in static (javascript) files. So using variables from python would be a pain. This could be resolved by only defining variables in the html and extracting all the remaining javascript elsewhere.

2.   I

[2019-07-15 18:08] #86 closed

[2019-07-16 07:17] #75 closed

[2019-07-16 07:25] #85 closed

[2019-07-16 08:03] christian-rli commented on #72
I looked at the weather menu and selection options. Here's what I noticed:

- for many entries height (logically) plays no role and none of them seem to show content:
    - evaporation
    - surface_runoff
    - surface_air_pressure
    - surface_normalized_direct_downwelling_shortwave_flux_in_air
    - snow amount
    - surface_runoff_amount
    - precipitation_amount
    - surface_roughness_leng

[2019-07-16 08:07] christian-rli commented on #72
PS: Popup title and graph will work again, when loading new weather points. One doesn't need to refresh the entire page.

[2019-07-16 09:05] christian-rli opened #93 "Missing Regions in Feedin-Tab"
In the Feedin-Tab on the map it doesn't matter where one clicks, the same result is always returned. Regional selection should be implemented, even with data missing thus far.

[2019-07-16 09:13] Bachibouzouk commented on #93
Yes, for that we need the dictionnary with nuts and region name (and geometry, if oedialect finally manages the selection with geometry :))

[2019-07-16 09:24] christian-rli commented on #93
NUT codes for the calculated feedin is taken from [this table](https://openenergy-platform.org/dataedit/view/boundaries/bkg_vg250_4_krs) . I created a simplified geojson (~10MB) from it.

Here's the attribute table: [nuts3_germany.xlsx](https://github.com/rl-institut/WAM_APP_FRED/files/3396318/nuts3_germany.xlsx)

I can turn it into a dictionary, too.

[2019-07-16 09:36] christian-rli commented on #93
python-dictionary:
[nuts3_germany_dictionary.txt](https://github.com/rl-institut/WAM_APP_FRED/files/3396443/nuts3_germany_dictionary.txt)

[2019-07-16 09:57] christian-rli commented on #93
I looked at the attribute table a bit closer again. Some lines were duplicates (my guess is, because they originate from a multipolygon). I removed all the duplicate entries in the dictionary.

FYI some of the values appear several times (like e.g. Heilbronn, Karlsruhe and Rostock), but the dict now only has unique keys.

[nuts3_germany_dictionary.txt](https://github.com/rl-institut/WAM_APP_FRED/f

[2019-07-16 13:17] christian-rli commented on #93
TODO: Create list of subregions (nuts-region) contained in regions.
list formatted like "DE-...":[   ]

[2019-07-16 15:57] #77 closed

[2019-07-17 08:18] christian-rli commented on #93
I looked into NUTS. Larger regions are conveniently contained in the string for a subregion. [Wikipedia](https://de.wikipedia.org/wiki/NUTS:DE) helps. A region code like **DE4**0I (Uckermark) will be contained by **DE4** (Brandenburg). So to find out the upper region / Bundesland in Germany, we can just take the first three alphanumericals of any given code. I looked at our data set and it checks

[2019-07-17 09:29] Bachibouzouk commented on #93
[code]

[2019-07-17 10:04] christian-rli opened #95 "Missing credits for map tiles"
I noticed that we have a (nice looking) mapbox-streets layer without proper attribution. This is [required](https://docs.mapbox.com/help/how-mapbox-works/attribution/). So we just need to link to mapbox in the credits at the bottom of the map.

@jh-RLI out of interest: where did we get the token and is it registered to anyone?

[2019-07-17 15:02] jh-RLI commented on #95
@christian-rli I implemented this without knowing about access token :) so I think this could be related to Jonathan.

[2019-07-18 10:14] christian-rli opened #96 "Powerplants not filtered by scenario and version?"
I took a closer look at [ego_dp_res_powerplant](https://openenergy-platform.org/dataedit/view/supply/ego_dp_res_powerplant) (btw, if you download it, it's 16GB). I queried it for powerplants without a nuts code, which resultet in ~5 million powerplants.

@Ludee informed me that the table contains a bunch of duplicates, for different scenarios and versions.

@jh-RLI do we filter for these within th

[2019-07-18 12:25] christian-rli commented on #96
In scenario "Status Quo" there are about 5% of windpower plants without a nuts code (all of them off-shore) + a couple dozen solar power plants out of several million. I think we can neglect those for now.

[2019-07-18 13:25] jh-RLI commented on #96
@christian-rli yes we do filter them otherwise the query would take to long.

We use a config file to manage requirements like this.

I also had a closer look at the query and noticed that I was missing one of the values in the query filter.
I will fix this now and create a PR.

Example fyi :)

EGO_DP_SCENARIO is filtered
EGO_DP_VERSION is missing :/
[code]

[2019-07-18 13:57] jh-RLI commented on #96
The query is clearly not the problem anymore. The response is quit fast. But if we want to render all datapoints on the map this will still be a problem (even with marker cluster). Some regions containing to many datapoints which will lead the website to crash.
If one zooms to a certain zoom level this will happen with pretty much all regions. I think this will be the most difficult problem to slo

[2019-07-18 14:08] jh-RLI commented on #96
Another solution I can think of would be to "query" the Geojson with javascript and just render what is in the current display size (what the user can see at this moment). I think there might even be leaflet functionality to do that.  @christian-rli

I will create a new issue :)

[2019-07-18 14:23] jh-RLI opened #98 "Optimize data rendering in Power Plant Register"
- Some regions containing to many datapoints which will lead the website to crash.
- If one zooms to a certain zoom level the performance will decrease.

[2019-07-18 14:25] jh-RLI commented on #98
Handel Zoom and drag events on map with following lefalet js events:
moveend: fired when center of map stoped changing
zoomend: fired when after zoom animation finished

Just show elements in current geographical bounds with leaflet js function:
getBounds(): returns LatLngBounds for currently visible map

fitBounds(): Create map view for geographical bounds with max zoom level

Further Information

[2019-07-18 14:37] jh-RLI commented on #98
Leaflets geojson got a filter functionality.
The features in a geojson can be filteres before they are rendered.

See: https://leafletjs.com/reference-1.5.0.html#geojson-filter

[2019-07-18 15:20] #96 closed

[2019-07-18 16:50] christian-rli opened #99 "Relevant things to get done"
From our feedback

The functionality can be considered done when all three elements have some sort of working implementation, i.e. weather, powerplants and feedin series can be displayed. This is basically done when powerplants are working again.

General usability was supposed to be improved as well. Concrete feedback was

- [x] Three working components
- [x] Clarify that Feedin data are example

[2019-07-18 16:56] #74 closed

[2019-07-18 17:01] christian-rli commented on #56
This was addressed in #58

[2019-07-18 17:01] #56 closed

[2019-07-18 17:04] christian-rli commented on #2
I think this can be considered done.

[2019-07-18 17:04] #2 closed

[2019-07-18 17:12] #15 closed

[2019-07-18 17:16] christian-rli commented on #87
The content of this issue is discussed in #72 . This can be closed.

[2019-07-18 17:16] #87 closed

[2019-07-19 06:22] Bachibouzouk commented on #98
Isn't it what the clusters are doing?

[2019-07-19 10:18] jh-RLI commented on #98
For part of the problem it might be a possibility to adjust the cluster so the markers stay in a cluster even on lower zoom levels. But there is still the problem that for some regions (Like "Nidersachsen" in "photovoltaik") the website will crash even with clustered markers. I havent worked with the clustermarker myself @christian-rli implemented this.

[2019-07-19 13:26] jh-RLI commented on #93
Im using the germany_nuts_3.geojson from your temp filder @christian-rli. This functions returns
the nuts_1 code based on the region name.

[code]

[2019-07-19 15:04] jh-RLI opened #103 "In feedin-tab missing plot in second selected region popup"
Im not sure if this is already addressed somewhere.

- If one clicks on th region to get the popup with feedin time series plot it works fine
- The second click on another region - without closing the popup from first selection - will show a popup without the plot

[2019-07-19 15:05] jh-RLI commented on #103
@Bachibouzouk have you noticed this behavior?

[2019-07-19 15:10] jh-RLI commented on #66
@Bachibouzouk in time series tab the description mentions to select a variable. I think its not quit clear which variable we mean, is it?

[2019-07-19 15:17] jh-RLI commented on #66
@christian-rli @Bachibouzouk We could implement a dialog window thats pops up when a user first opens the app. There could be a short summary about the app and the three components. This would help the user to start working with the app.

This can be done with modal jquery ui dialog, I tryed to implement this but for some reason its not working and now i have no time left.

This would be a demo of

[2019-07-21 17:48] #91 closed

[2019-07-21 17:48] #93 closed

[2019-07-21 19:26] Bachibouzouk commented on #103
@jh-RLI - yet but only in the LOCAL_TESTING mode

[2019-07-21 19:28] Bachibouzouk commented on #81
@jh-RLI - can you be a bit more specific in the description of the issue?

[2019-07-21 20:56] Bachibouzouk commented on #98
We could also make use of one of those functions

[code]

[2019-07-21 20:58] Bachibouzouk commented on #72
@christian-rli - I will work on making the plot update when the variable height changes (I will also get rid of the accordeon div)

[2019-07-22 11:20] christian-rli commented on #103
@jh-RLI @Bachibouzouk I can confirm that this only happens in LOCAL_TESTING mode. Can this issue be closed then?

[2019-07-22 13:10] christian-rli opened #106 "Server deployment"
Get everything running on Server. When cloning WAM_APP_FRED and scp-ing local geojson files, make sure django has the necessary reading permissions (chmod +r) for those files, otherwise it won't be able to find them. I've tested the following functions. No ✓ means, it's not working:

- [x] weather points
- [x] weather popups
- [x] powerplant points
- [x] powerplant popups
- [x] feedin points
- [x]

[2019-07-22 13:13] christian-rli commented on #106
@Bachibouzouk I recall the weather-pop-ups not working on the server before. Do you have any idea, why this doesn't not seem to work on the server, while the other queries do work? Unfortunately I don't know who to show the django output on the server docker, but I'm going to research that now.
**update:** Docker remains a mystery to me, but Firefox told me that it's a 502 'bad gateway' error

[2019-07-23 07:42] nesnoj commented on #95
Uh, wasn't aware of this, thank you.
Changed in StEmp ABW in https://github.com/rl-institut/WAM_APP_stemp_abw/commit/8872cc34d3066473653a73f5ed6938ee045d56eb
Is there a reason why you omitted the [required](https://docs.mapbox.com/help/how-mapbox-works/attribution/#text-attribution) "Improve this map"?

I think the token was copied from a leaflet example, it's not ours.. o_O

[2019-07-23 07:56] nesnoj commented on #66
You may want to use WAM's [InfoButton](https://github.com/rl-institut/WAM/blob/ba2d4b9d93a4fcd4b4e203a5d9b1527059ab8bf5/utils/widgets.py#L36) widget which reads a markdown file (nice & easy content production), converts to HTML and displays the content in a reveal window. Window can also be triggered via JS.

Have a look into StEmp ABW where I use it as welcome window shown on startup and can be r

[2019-07-23 12:40] christian-rli commented on #95
Whoops. No reason. I guess I didn't read it all.

Hm. I recall that tiles are free and all - up to a point where mapbox will approach you (no source for this info, just vague remnants of an old memory). Maybe we should just get our own token with one of our rli-addresses? I hope there aren't any limitations for non-human entities.

[2019-07-23 12:57] christian-rli commented on #66
Thanks for the hint @nesnoj ! Going to add this in my next long bus ride :)

[2019-07-24 07:06] christian-rli commented on #106
Weather popup causes the following error on the webserver:
[code]

[2019-07-24 07:10] christian-rli commented on #106
fred_app.cfg looks like this:

[code]
and OEP_DIALECT in config is the same as in my local setup.

[2019-07-24 08:01] nesnoj commented on #106
The id seems to be the wrong type as wam logs says

[code]
This might be related?

[2019-07-24 14:09] christian-rli commented on #60
@Bachibouzouk how long would implementing a simple button or link in the popup window for weather take?

[2019-07-24 14:55] Bachibouzouk commented on #106
It could be, the 'find_something_unique' error should have been fixed in f0691a20b46fe364c11caad01b1e64a335f9deac from #109

[2019-07-24 15:02] Bachibouzouk commented on #60
@christian-rli - not long, what took some time was the chained dropdowns for the variable ^^, I merge #107 and #109 first and then I add the button :)

[2019-07-26 06:32] christian-rli commented on #106
Unfortunately this did not fix weather popups on the server.

[2019-07-26 06:34] christian-rli commented on #106
Could it be possible that there is just a time-limit on our server that collides with the long loading times of our weather query?

[2019-07-29 12:13] christian-rli opened #115 "Incomplete wind feedin for 2016"
I uploaded the wind dataset for 2016 which is now complete. It's under the new name model_draft.openfred_feedin_wind_2016 (old name: openfred_timeseries_wind_2016). I think the new name makes more sense.

I can implement it in the app.

[2019-07-29 13:47] Bachibouzouk commented on #60
Done in #112

[2019-07-29 13:47] #60 closed

[2019-07-29 14:48] #115 closed

[2019-07-29 14:52] Bachibouzouk commented on #25
Closed in #107

[2019-07-29 14:52] #25 closed

[2019-07-29 15:02] #5 closed

[2019-07-29 16:22] Bachibouzouk commented on #95
Closed in #108

[2019-07-29 16:22] #95 closed

[2019-07-29 16:35] christian-rli commented on #98
#105 took care of this issue.

[2019-07-29 16:35] #98 closed

[2019-07-29 16:38] christian-rli commented on #99
The remaining item is also listed in #106 . Closing this issue to remove redundancy.

[2019-07-29 16:38] #99 closed

[2019-07-29 16:39] christian-rli commented on #80
This issue would take too long to implement and the use would be limited.

[2019-07-29 16:40] christian-rli commented on #61
It works on the server now... hold on. After checking again I have to state that it's still not working on the server.

[2019-07-29 16:50] christian-rli commented on #61
[code]
I would assume that this is related to the problem in #106

[2019-07-29 20:58] #103 closed

[2019-07-30 07:49] christian-rli commented on #66
Thank you @Bachibouzouk for taking this over. I now have a prepared welcome text that I can adapt to any markup language once a welcome window is implemented.
[welcome.txt](https://github.com/rl-institut/WAM_APP_FRED/files/3445694/welcome.txt)

[2019-07-30 13:10] christian-rli commented on #61
I noticed that the error on the server only appears in large queries. Small queries are successful. That would support the idea that #106 is part of the same issue, because those queries also take a long time.

So I would conclude that the problem comes with either file size, or with the duration of the query. @henhuy does this have to do with how either django or caddy were set up on the server?

[2019-07-30 13:11] Bachibouzouk opened #119 "Provide description of the powerplant types"
By using the `title` option of a the powerplant type `<div>` items, one can have hover information:

`<div title="information here"></div>`

[2019-07-30 14:02] nesnoj commented on #61
Is there a data limit set by the OEP which could restrict large queries? I haven't found anything related to quota, neither on the OEP site nor in the oedialect repo.
@MGlauer

[2019-07-30 14:21] christian-rli commented on #61
@MGlauer I think it is very unlikely to be the cause of the OEP in either way, because the queries do work on my local machine. It must have to do with our server setup. I'm going to investigate this further.

[2019-07-30 14:32] christian-rli commented on #61
@Bachibouzouk suggested this might contain a solution: https://github.com/caddyserver/caddy/issues/1944  although it looks like it would be a workaround for our specific problem.

[2019-07-30 14:59] nesnoj commented on #61
Does not seem to be related to me as I do not see the connection between a larger query and ipv6.
I'd rather dig for e.g. caddy caching...

[2019-07-31 08:06] christian-rli commented on #119
I noticed that the numbers of my query and the queries powerplants don't add up. Namely my query shows fewer powerplants. I wanted to take a look at the query used to download the plants and noticed that the old table (in supply schema) is still used. So I'm going to update that.

The issue with fewer plants probably has to with with generation_type and generation_subtypes used differently in both

[2019-07-31 10:14] christian-rli commented on #66
... implementing the button was a bit more fiddly than expected. I created a new welcome tab which has the same functionality without adding another navigation element, albeit being less fancy.

[2019-08-01 13:19] henhuy commented on #61
I will dig into this...
Can you tell me what steps to take to reproduce the error?

[2019-08-01 13:31] christian-rli commented on #61
To reproduce the error: Go [here](https://wam.rl-institut.de:85/WAM_APP_FRED/) and click on the powerplant register tab. Leave the radio button on solar and select any state. After a while, the 502 error will come up in the network analysis.
Last time I did this selecting wind and clicking on Berlin produced a working query, but now I can't reproduce the working query, maybe because the network vi

[2019-08-01 13:34] christian-rli commented on #61
The same error occurs when you want to load the popup for any given weather point.  working queries include feedin-popups and the query for the closest weather points, which should technically be the same thing and only differ in size / duration.

[2019-08-01 13:49] henhuy commented on #61
Found it!
This is due to gunicorns worker timeout setting (set to 30s):
http://docs.gunicorn.org/en/latest/settings.html#timeout
Gunicorn states:

I don't know what timeout is needed?
I think, a starter should be to shorten query time and increase timeout only if necessary?!

[2019-08-01 14:13] henhuy commented on #61
I increased timeout to 60s - and now it starts working.
But anyway - I think this is not suitable for user experience...

[2019-08-01 14:31] Bachibouzouk commented on #61
The time the query takes depends on how much data the user want to retrieve from the OEDBunfortunately :(. Where the number of entries is too large, I would say a web app might not be the most efficient tool anyway. @christian-rli - we could/(should?) have a disclaimer that the app is not suitable for very large data queries, and redirect the user to the oep website maybe?

[2019-08-01 15:02] christian-rli commented on #61
Thank you @henhuy ! The size of the data is only part of the problem @Bachibouzouk . The time of the query to load 10 wind power plants in Berlin from the database is 52s from where I am. That's maybe because the table in the database is so large, but when thinking about it... I mean it's a database! Shouldn't any api just be a lot faster? You're right though, in any case there should be a disclai

[2019-08-01 15:10] nesnoj commented on #61
OMFG
Even with the new table in model_draft?
Do you think this is related to the postgis processing - do you query via geometry (e.g. bounding box with ST_CONTAINS)?

[2019-08-01 15:28] christian-rli commented on #61
... I haven't implemented the queries, but yes the new table is used. Weirdly enough 52s seems to be the time for any query now. 2696 wind power plants in Sachsen-Anhalt will take just as long. Only the really big queries take longer (solar power plants in Niedersachsen still won't work). I'm going to have a closer look at the queries.

[2019-08-01 15:53] christian-rli commented on #61
I noticed that running on my machine, the queries take a bit more than half the time compared to the server - which makes sense, if the server will first download data from the OEDB and then forward it to the user. That's probably bad style, but I think it's what's happening, because we "cheated" before, using a dedicated user account from within our IP-range and not the api.

Looking at the query

[2019-08-01 16:05] nesnoj commented on #61
Some thoughts on the speed issue:

1. Replace loop by DF [here](https://github.com/rl-institut/WAM_APP_FRED/blob/05e6a1196a00b08b0b325119fbe460a7320ae9a9/serial_views.py#L189)  and convert to JSON afterwards. Something like
[code]
2. Remove unnecessary filters such as [version](https://github.com/rl-institut/WAM_APP_FRED/blob/05e6a1196a00b08b0b325119fbe460a7320ae9a9/serial_views.py#L181-L182) and

[2019-08-02 21:57] Bachibouzouk commented on #61
OEDialect can't deal with ST_CONTAINS yet unfortunately! Which is why we couldn't use it (we used it at first with direct OEDB access)

[2019-08-02 21:59] Bachibouzouk commented on #61
Still, selecting for rows which nuts column is equal to a given nuts, should be fast...

[2019-08-05 08:41] nesnoj commented on #61
It depends on the count of datasets in `model_draft.openfred_powerplants` - with 39.1M it's supposed to be way faster with index.
A quick view reveals that there are no indexes at all (except for `pp_id` as it's automatically created for PK). I'd strongly recommend to add some to those cols you filter by, i.e. `version` (if you don't kick it), `nuts`, `scenario` and `generation_type`.
E.g.
[code]

[2019-08-05 09:11] christian-rli commented on #61
Thank you @nesnoj for all the feedback! I just deleted power plants of different versions in the table, which didn't improve performance noticeably. Then I created indices on the used columns and everything is much faster now! 5800 solar plants in Berlin now only take a couple seconds. I then created indices for our feed-in table as well.

[2019-08-05 15:57] Ludee opened #123 "Include correct projet name in "Welcome""
The project name is "open_FRED".
Please revise in the text.

[2019-08-06 16:03] christian-rli commented on #106
@henhuy fixed the timeout issue in #61 by setting the limit up to 1 minute, thereby closing the last remaining issue in this list.

[2019-08-06 16:03] #106 closed

[2019-08-06 16:04] #123 closed

[2019-08-06 16:56] christian-rli commented on #66
addressed in #125

[2019-08-06 16:56] #66 closed

[2019-08-06 16:58] christian-rli commented on #119
addressed in #119 and merged in #121

[2019-08-06 16:58] #119 closed

[2019-08-07 11:45] christian-rli opened #126 "Consider Review Feedback"
- [ ] adapt goal open_FRED and link to [this website](https://openfredproject.wordpress.com/)
- [ ] link open_eGo [here](https://openegoproject.wordpress.com/)
- [ ] Weather data: Every point within the _**G**_rid includes (decapitalize grid)
- [ ] Every point within the Grid includes 15 weather variables: link to [variable overview](https://openenergy-platform.org/dataedit/view/model_draft/openfr

[2019-08-14 13:06] nesnoj commented on #126
Thanks for the great app! :rocket:
But I'm afraid there quite some bugs to be fixed. What I'm stumbled across so far:
(FRED app on WAMdev)

Weather data
- [ ] Popup gives data only for the (one) month set in end date
- [ ] When start date > end date, no error message is shown. Possible solution: adjust end date to start date (or throw warning)
- [ ] **Critical:** Loading spinner never disappears i

[2019-09-05 20:57] Bachibouzouk commented on #126
@christian-rli - are these TODOS or nice to have?

[2019-09-05 21:54] nesnoj commented on #126
ToDos! Especially the critical ones

[2019-09-18 08:45] christian-rli opened #127 "Release a clean version"
Merge a version that can be pulled onto the production server and runs smoothly.

[2019-09-18 10:27] christian-rli commented on #127
closed in #129

[2019-09-18 10:27] #127 closed

[2019-09-25 11:00] christian-rli commented on #61
I analyzed the openfred_series table and it appears that there are no specific indexes. @Bachibouzouk could you briefly list the columns we use for our queries, so I can create an index? That might help a lot with performance and I can do it in a minute. You may then close this issue, because the original problem is solved, already.

[2019-09-26 05:14] Bachibouzouk commented on #61
There are defined [here](https://github.com/rl-institut/WAM_APP_FRED/blob/46ff547b690ee1a06784a0ff6ed6824a88e05f33/oep_models.py#L120). If I understood correctly, the indexes are there in the columns with names in the form of `*_id`. They are linked to other tables in oedb which have an index.

[2020-03-19 23:51] jh-RLI commented on #81
This works now.

[2020-03-19 23:51] #81 closed

[2020-05-06 08:29] christian-rli opened #134 "Available Years don't reflect what's available in database"
database has data up until 2019.

[2020-10-30 17:23] nesnoj opened #137 "Background map not loaded"
Mapbox tile limit reached, same as in https://github.com/rl-institut/WAM_APP_stemp_abw/issues/113

[2020-11-03 21:35] jh-RLI commented on #61
closed in https://github.com/rl-institut/WAM_APP_FRED/issues/106#issuecomment-518734978

[2020-11-03 21:35] #61 closed

[2020-11-29 22:39] jh-RLI commented on #137
Fixed in #138

[2020-11-29 22:39] #137 closed